{% load static %}
<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Image Super Resolution Reconstruction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC" />
    <link rel="stylesheet" href={% static 'css/style.css' %} />
    <link rel="stylesheet" href={% static 'css/loginform.css' %} />
    <script src={% static 'js/javascript.js' %}></script>
    <script src={% static 'js/jquery-3.6.0.min.js' %}></script>
</head>

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top w3-hide-small">
        <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
            <a href="#" class="w3-bar-item w3-button">HOME</a>
            <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
            <a id="register_nav" class="w3-button w3-right w3-bar-item w3-border w3-border-red w3-round-large"
                onclick="openSignup()">Sign
                Up</a>
            <a id="login_nav" class="w3-button w3-right w3-bar-item" onclick="openLogin()">Login</a>
        </div>
    </div>

    <!--Pop up form for login-->
    <div class="form-popup" id="myForm">
        <form class="form-container" action={% url 'login' %} method="post">
            {% csrf_token %}
            <h1>Login</h1>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" class="btn" id="login">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <!--Pop up form for sign up-->
    <div class="form-popup" id="signupForm">
        <form class="form-container" action={% url 'signup' %} method="post">
            {% csrf_token %}
            <h1>Sign up</h1>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" class="btn" id="register">Sign Up</button>
            <button type="button" class="btn cancel" onclick="closeSignup()">Close</button>
        </form>
    </div>

    <!-- Header with image -->
    <header class="bgimg w3-display-container w3-grayscale-min" id="home">

        <div class="w3-display-middle w3-text-white">
            <label for="myfile" class="drag-text">Or drag and drop an image here</label>
        </div>

        <div class="w3-display-bottomleft w3-padding">
            <span class="w3-tag w3-xlarge w3-hide-small">You can convert your image to a high revolution version.</span>
        </div>

        <div class="w3-display-middle w3-text-white drop-box">
            <form action={% url 'processing' %} method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="pic" class="w3-text-white drop-file-button" required>
                <input type="submit" class="w3-button w3-xxlarge w3-black w3-center w3-display-bottommiddle">
                <fieldset class="w3-display-bottomright">
                    <legend>Select a SR level:</legend>
                    <label><input type="radio" name="level" value="2x" class="w3-check w3-radio" checked>2x</label>
                    <div title="Only registered users can use this function!">
                        <label><input type="radio" name="level" value="4x" class="w3-check w3-radio" disabled>4x</label>
                        <label><input type="radio" name="level" value="4xp" class="w3-check w3-radio" disabled>4x+</label>
                    </div>
                </fieldset>
            </form>
        </div>

    </header>

    <!-- About Container -->
    <div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
        <div class="w3-content">
            <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About</h1>
            <p>The system can recover a given low-resolution image into a corresponding high-resolution image</p>
            <p><strong>Group Member</strong> XXX<img src="SRGAN/w3images/chef.jpg" style="width:150px"
                    class="w3-circle w3-right" alt="IMG"></p>
            <p>contact email: </p>
            <h1><b>Why not register to better your experience!</b></h1>
            <div class="w3-row">
                <div class="w3-col s6">
                    <p>Free guest</p>
                    <p>registered member</p>
                </div>
                <div class="w3-col s6">
                    <p>xxx</p>
                    <p>xxx</p>

                </div>
            </div>

        </div>
    </div>

    {% if messages %}
    <script>
        {% for msg in messages %}
        alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}


</body>

</html>